<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Animals</title>
  </head>
  <body>
    <h1>Add an animal to your dashboard</h1>

    <form class="" action="/animals" method="post">
      Name: <input type="text" name="inputName" value="">
      Description: <input type="text" name="inputDescription" value="">
      Color: <input type="text" name="inputColor" value="">
      <input type="submit" name="submit" value="Submit">
    </form>
    <br><br>
    <a href="/"><button type="button" name="button">Back</button></a>
  </body>
</html>
